<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>
        <div class="container-fluid text-center">
            <div class="col-md-2">

            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                  <div class="panel-body">
                    <h3>It's the first page</h3>
                  </div>
                </div>
            </div>
            <div class="col-md-2">

            </div>
    </body>
</html>
