<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>
        <div class="container-fluid text-center">
            <div class="col-md-2">

            </div>
            <div class="col-md-6">
                <img src="https://www1.imperial.ac.uk/resources/3E6822B2-E6EC-47EF-8F2A-FA08E0575CA6/image026.jpg" class="img-responsive center-block img-rounded" alt="Responsive image">
            </div>
            <div class="col-md-2">

            </div>
        </div>


    </body>
</html>
